<!DOCTYPE html>
<html>
    <head>
        <title><%= client.user.username %> | Dashboard</title>
        <link rel='shortcut icon' href='<%= client.user.displayAvatarURL({ dynamic: true }) %>'>
    </head>
    <body>
    </body>
</html>
